<h1 align="center"><%= @msg %></h1>

<div class = "container">
    <div class="row">
      <div class="col-md-4"><%= image_tag "aaa.PNG" %></div>
      <div class="col-md-4"><%= image_tag "bbb.PNG" %></div>
      <div class="col-md-4"><%= image_tag "ccc.PNG" %></div>
    </div>
</div>
    
<div class = "container">
    <div class="row">
      <div class="col-md-4"><p><%= @array_1_choose %></p></div>
      <div class="col-md-4"><p><%= @array_2_choose %></p></div>
      <div class="col-md-4"><p><%= @array_3_choose %></p></div>
    </div>
</div>
